#debug{
	position:absolute;
}

#canvas{
	width:800px;
	height:600px;
	margin:0 auto;
	box-shadow:0 0 15px rgba(0,0,0,0.75);
	position:relative;
}

.pc{
	position:absolute;
	bottom:50%;
	left:50%;
	margin-left:-32px;
	margin-top:-32px;
	background: url(images/pc.png);
}